<nav class="d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
            Tutorials
        </h4>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
            CIS-241 / CIS-247
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="./setting-up-ec2-tutorial">Setting Up an AWS EC2 LAMP Server</a></li>
            <li class="nav-item"><a class="nav-link" href="./running-automated-ec2-script">Automated AWS EC2 Installation</a></li>
        </ul>

        <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1">
            Examples
        </h4>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#">---</a></li>
        </ul>
    </div>
</nav>