<nav class="d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <a href="#GettingStarted">Getting started</a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#Requirements">Requirements</a></li>
            <li class="nav-item"><a class="nav-link" href="#SupportedDatabases">Supported databases</a></li>
            <li class="nav-item"><a class="nav-link" href="#Installation">Installation</a></li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <a href="#CoreConcepts">Core concepts</a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#DbContext">DbContext</a></li>
            <li class="nav-item"><a class="nav-link" href="#DbCommand">DbCommand</a></li>
            <li class="nav-item"><a class="nav-link" href="#Events">Events</a></li>
            <li class="nav-item"><a class="nav-link" href="#Builders">Builders</a></li>
            <li class="nav-item"><a class="nav-link" href="#Mapping">Mapping</a></li>
            <li class="nav-item"><a class="nav-link" href="#Dispose">When should you dispose&#63;</a></li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <a href="#CodeSamples">Code samples</a>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="#InitDbContext">Create and initialize a DbContext</a></li>
            <li class="nav-item"><a class="nav-link" href="#Query">Query for a list of items</a></li>
            <li class="nav-item"><a class="nav-link" href="#QuerySingle">Query for a single item</a></li>
            <li class="nav-item"><a class="nav-link" href="#QueryValue">Query for a scalar value</a></li>
            <li class="nav-item"><a class="nav-link" href="#QueryValues">Query for a list of scalar values</a></li>
            <li class="nav-item"><a class="nav-link" href="#Parameters">Parameters</a></li>
            <li class="nav-item"><a class="nav-link" href="#CodeSamplesMapping">Mapping</a></li>
            <li class="nav-item"><a class="nav-link" href="#MultiResultSets">Multiple result sets</a></li>
            <li class="nav-item"><a class="nav-link" href="#SelectData">Select data &#38; Paging</a></li>
            <li class="nav-item"><a class="nav-link" href="#InsertData">Insert data</a></li>
            <li class="nav-item"><a class="nav-link" href="#UpdateData">Update data</a></li>
            <li class="nav-item"><a class="nav-link" href="#DeleteData">Delete data</a></li>
            <li class="nav-item"><a class="nav-link" href="#StoredProcedures">Stored procedures</a></li>
            <li class="nav-item"><a class="nav-link" href="#Transactions">Transactions</a></li>
            <li class="nav-item"><a class="nav-link" href="#EntityFactory">Entity factory</a></li>
        </ul>
    </div>
</nav>